<ion-content>
<br>
<br>
<br>
<br>
<center>
<div class="item item-positive">
<label><h2 style="color:white"> Your &pound; {{data.denomination}} Coupon is ready to redeem
			<br>Please Scan your Coupon!!</h2></label>
</div>
</center>

<br>
<center>
<div class="Timer">
<br>
<center>
<div id="barcodeTarget" class="barcodeTarget" ></div>
</center>

<center>
<img src="img\Voucher.jpg">
</center>

</div>
</center>
<br><br>
 <br><br><br>
 <div style="height:60px;">
		<center><button class="button button-assertive" ng-click="cancel()" ng-hide="loading">Cancel Coupon</center>
		<center><img src="img/loading.gif" ng-show="loading" height="4%" width="30%"></center>
		</div>
		<br>
</ion-content>
