<ion-content>
	  <div >
	  <br><br>
		<div class="card">
			<center><h2>
				<div id="clubcard">
					Welcome To TESCO Points Redemtion App
				</div>
			</h2></center>
		</div>
		<br><br>
		<div class="list">
		  <label class="item item-input">
			<input type="number" placeholder="Clubcard Number :" ng-model="data.clubCardNumber">
        </label>
		</div>
		
		<center><a class="button icon-right ion-chevron-right button-calm" ng-click="login()">Get Points</a></center>
		<!-- <button class="button button-block button-positive" ng-click="login()">
			Get Points
		</button> -->
		
        <div>
        <!--{{ data.clubCardNumber }}--> 
		</div>

		<br><br>
		<div class="item item-image">
			<img src="img\TescoClubcard.jpg">
		</div>
		</div>
</ion-content>