<ion-content>
<br><br><br>

<center>
				
		<h3  style="color:">
		Welcome {{'  '+data.customerName}} !
		</h3>
				
</center>

<br>
<br>
<div >


			<div id="points" style="width:50%; float:left; text-align:left; padding-left:10%;">
				<label >
						Points available 
				</label>
			</div>
			<div id="points" style="width:50%; float:right; text-align:right; padding-right:20%">
			 <b> {{data.clubCardPoints}} </b>
			</div>
			

</div>
<br>
<br>
<br>
<div>
	<div id="points" style="width:50%; float:left; text-align:left; padding-left:10%;">
		<label >
			Points to Redeem 
		</label>
	</div>
	<div id="points" style="width:50%; float:right; text-align:right; padding-right:20%">
		<select ng-model="data.pointsToRedeem" ng-options="item as item.value for item in data.denominations" style="text-align: center" ng-change="onDenominationChange()">
	    </select>

	</div>
<br>
<br>
<br>
<div >

	<div id="points" style="width:50%; float:left; text-align:left; padding-left:10%;">
		<label >
			Voucher Denomination 
		</label>
	</div>
	<div id="points" style="width:50%; float:right; text-align:right; padding-right:20%">
		&pound; {{ data.voucherDenomination }}
	</div>
	
</div>
<br>
<br>
<br>

<center>

<div style="height:60px;">
		<center><a ng-hide="loading" class="button icon-right ion-chevron-right button-calm" ng-click="redeem()">Redeem Points</a></center>
		<center><img src="img/loading.gif" ng-show="loading" height="4%" width="30%"></center>
		</div>
		<br>
<div>


</div></center>

<center>
<div>
    <img src="img\TescoClubcard.jpg">
</div>
</center>
</ion-content>