<ion-content>
<br><br><br>
<div class="welcometag">
			<center>
				<div id="welcomecustomer">
					<label class="item item-input">
					Welcome <input type="text" ng-model="data.customerName"></input>!
					</label>
				</div>
			</center>
</div>
<br>
<div class="pointstag">
			<center>
				<div id="points">
					<label class="item item-input">
						Points available :<input type="text" ng-model="data.clubCardPoints"></input>
					</label>
				</div>
			</center>
</div>
<br>
<center><div>
<label class="item item-input item-select">
Points to redeem 		
    <div class="input-label">
        &nbsp;
    </div>
    <select ng-model="data.pointToRedeem">
	    <option selected>5000</option>
        <option >2000</option>
        <option>1000</option>
		<option>500</option>
		<option>200</option>
		<option>100</option>
    </select>
</label>
</div></center>
<br>
<div class="denomination">
			<center>
				<div id="denomination">
					<label class="item item-input">
						voucher denomination :   <input type="text" ng-model="data.voucherDenomination"></input>
					</label>
				</div>
			</center>
</div>
<br>
<center><div>
<a class="button icon-right ion-chevron-right button-calm" ng-click="redeem()">Redeem Points</a>
<!-- <button class="button button-block button-positive" onclick="postmethod()">
	Redeem Points
</button> -->
</div></center>
<br>
<div class="item item-image">
    <img src="img\TescoClubcard.jpg">
</div>
</ion-content>