<ion-content>
<br><br><br>

<center>
				
		<h3  style="color:">
		Welcome {{'  '+data.customerName}} !
		</h3>
				
</center>

<br>
<div >
		<center>
				<div id="points">
					<label class="item item-input">
						Points available:{{data.clubCardPoints}}
					</label>
				</div>
		</center>
</div>
<br>
<center><div>
<label class="item item-input item-select">
Points to redeem 	:
    <select ng-model="data.pointsToRedeem" ng-options="item as item.value for item in data.denominations" style="text-align: center" ng-change="onDenominationChange()">
	    
    </select>
</label>
</div></center>
<br>
<div >
			<center>
				<div id="denomination">
					<label class="item item-input">
						voucher denomination : {{ data.voucherDenomination }}
					</label>
				</div>
			</center>
</div>
<br>
<center><div>
<a class="button icon-right ion-chevron-right button-calm" ng-click="redeem()">Redeem Points</a>

</div></center>
<br>
<div class="item item-image">
    <img src="img\TescoClubcard.jpg">
</div>
</ion-content>